<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pitt.is.UMAP2015"
    android:versionCode="6"
    android:versionName="4.1" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".iConference2012"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateOption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainInterface"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConferenceInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KeyNote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KeynoteDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgramByDay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaperInSession"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaperInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaperAttending"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaperSimilar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaperDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyScheduledPapers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyStaredPapers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyRecommendedPapers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Workshops"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkshopDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Posters"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PosterDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProceedingsByAuthor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProceedingsByName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProceedingsByType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Proceedings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstLaunchUpdate"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
