<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pitt.is.UMAP2015"
    android:versionCode="5"
    android:versionName="3.2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name="edu.pitt.is.UMAP2015.iConference2012"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.pitt.is.UMAP2015.UpdateOption" />
        <activity android:name="edu.pitt.is.UMAP2015.MainInterface" />
        <activity android:name="edu.pitt.is.UMAP2015.ConferenceInfo" />
        <activity android:name="edu.pitt.is.UMAP2015.KeyNote" />
        <activity android:name="edu.pitt.is.UMAP2015.KeynoteDetail" />
        <activity android:name="edu.pitt.is.UMAP2015.ProgramByDay" />
        <activity android:name="edu.pitt.is.UMAP2015.PaperInSession" />
        <activity android:name="edu.pitt.is.UMAP2015.UserDetail" />
        <activity android:name="edu.pitt.is.UMAP2015.PaperInfo" />
        <activity android:name="edu.pitt.is.UMAP2015.PaperAttending" />
        <activity android:name="edu.pitt.is.UMAP2015.PaperSimilar" />
        <activity android:name="edu.pitt.is.UMAP2015.PaperDetail" />
        <activity android:name="edu.pitt.is.UMAP2015.MyScheduledPapers" />
        <activity android:name="edu.pitt.is.UMAP2015.MyStaredPapers" />
        <activity android:name="edu.pitt.is.UMAP2015.MyRecommendedPapers" />
        <activity android:name="edu.pitt.is.UMAP2015.Signin" />
        <activity android:name="edu.pitt.is.UMAP2015.Signup" />
        <activity android:name="edu.pitt.is.UMAP2015.Workshops" />
        <activity android:name="edu.pitt.is.UMAP2015.WorkshopDetail" />
        <activity android:name="edu.pitt.is.UMAP2015.Posters" />
        <activity android:name="edu.pitt.is.UMAP2015.PosterDetail" />
        <activity android:name="edu.pitt.is.UMAP2015.ProceedingsByAuthor" />
        <activity android:name="edu.pitt.is.UMAP2015.ProceedingsByName" />
        <activity android:name="edu.pitt.is.UMAP2015.ProceedingsByType" />
        <activity android:name="edu.pitt.is.UMAP2015.Proceedings" />
    </application>
    <uses-sdk android:minSdkVersion="4" />
</manifest>